{% extends 'base.html' %}
{% block title %} Agregar Perfil{% endblock %}

{%block content_page%}

<form action="{{url_for('main.add_account')}}" method="POST">
	{{form.hidden_tag()}}
	{{form.username(placeholder="Nombre de Usuario")}}
	{{form.url(placeholder="URL del Sitio")}}
	{{form.email(placeholder="Correo")}}
	{{form.password(placeholder="Contraseña")}}
	{{form.passconfirm(placeholder="Confirmar Contraseña")}}
	{{form.notas(placeholder="Anotaciones")}}
	{{form.submit()}}

</form>



{% endblock %}
