{% extends 'base.html' %}
{% block title %} Inicio{% endblock %}

{% block content_page %}

<section class="col-sm-8">
<table class="table table-bordered table-striped table-sm">
	<thead>
		<tr>
			<th>Nombre de usuario</th>
			<th>Web</th>
			<th>Contraseña</th>
			<th>Email</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		{% for web in webs %}	
		<tr>
			<td>{{web.6}}</td>
			<td>{{web.2}}</td>
			<td>{{web.4}}</td>
			<td>{{web.5}}</td>
			<td>
				<a href="/edit/{{web.0}}/" class="btn btn-secondary">Editar</a>
				<a href="/delete/{{web.0}}/" class="btn btn-danger btn-delete">Eliminar</a>
			</td>
		</tr>
		{%endfor%}

	</tbody>



</table>
</section>



{% endblock %}
