{% extends 'base.html' %}
{% block title %} Inicio{% endblock %}

{% block content_page %}

<div class="container-md cont">
	<div class=" row justify-content-center">
		<h1 class="tituloindex">Datos de Perfiles</h1>
		
			<table class="table table-bordered table-sm table-responsive-sm">
				<thead class="thead-dark">
					<tr>
						<th>Nombre de usuario</th>
						<th>Web</th>
						<th>Contraseña</th>
						<th>Email</th>
						<th>Nota</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for web in webs %}	
					<tr class="filatxt">
						<td>{{web['web_username']}}</td>
						<td>{{web['web_name']}}</td>
						<td>{{web['web_pass']}}</td>
						<td>{{web['web_email']}}</td>
						<td>{{web['nota']}}</td>
						<td>
							<a href="/edit/{{web['web_id']}}" class="btn btn-secondary btn1">Editar</a>
							<a href="/delete/{{web['web_id']}}" class="btn btn-danger btn-delete btn1">Eliminar</a>
						</td>
					</tr>
						{%endfor%}

				</tbody>
			</table>
	</div>
</div>


{% endblock %}
